<!doctype html>
<html>
<head>
    <title>Getting Started Extension's Popup</title>
    <link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        body {
            min-width: 540px;
            overflow-x: hidden;
        }

        .cursor {
            cursor: pointer;
        }

        a.history {
            cursor: pointer;
        }

            a.history:hover {
                text-decoration: line-through;
            }
    </style>
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
    <script src="popup.js"></script>

</head>
<body ng-app="app" ng-controller="popupController as vm">
    <div class="panel panel-default">
        <div class="panel-heading"><a href="http://note.kimx.info/" target="_blank" title="My Blog"><img src="img/icon.png" height="18" /> JK日語小鍵盤</a></div>
        <div class="panel-body" ng-init="vm.Init();">
            <div class="row">
                <div class="col-xs-9">
                    <label class="radio-inline">
                        <input type="radio" name="hkType" value="0" ng-model="vm.HkType"> 平假名
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="hkType" value="1" ng-model="vm.HkType"> 片假名
                    </label>
                    <hr />
                </div>
                <div class="col-xs-3">
                    <a class="history" ng-click="vm.HistoryClear();" title="清除歷史資料">
                        <span class="glyphicon glyphicon-equalizer"></span> 歷史資料
                    </a>
                    <hr />
                </div>

            </div>
     
            <div class="row">
                <div class="col-xs-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-pills" role="tablist">
                        <li ng-click="vm.KeepTab('#home')" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">清音</a></li>
                        <li ng-click="vm.KeepTab('#profile')" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">濁音</a></li>
                        <li ng-click="vm.KeepTab('#messages')" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">拗音</a></li>
                        <li ng-click="vm.KeepTab('#special')" role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">特殊字元</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home" style="max-width:350px">
                            <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(100)">
                                <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn btn-default" ng-click="vm.AppendInput(word)">{{word.Text}}</button>
                                <button ng-disabled="word.Id==0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="item in items= vm.GetRelations(word)" class="cursor">
                                        <a ng-click="vm.AppendInput(item)">{{item.Text}} <span class="badge">{{item.Descript}}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile" style="max-width:350px">
                            <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(300)">
                                <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn btn-default" ng-click="vm.AppendInput(word)">{{word.Text}}</button>
                                <button ng-disabled="word.Id==0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="item in items= vm.GetRelations(word)" class="cursor">
                                        <a ng-click="vm.AppendInput(item)">{{item.Text}} <span class="badge">{{item.Descript}}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages" style="max-width:250px">
                            <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(400)">
                                <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn btn-default" ng-click="vm.AppendInput(word)">{{word.Text}}</button>
                                <button ng-disabled="word.Id==0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="item in items= vm.GetRelations(word)" class="cursor">
                                        <a ng-click="vm.AppendInput(item)">{{item.Text}} <span class="badge">{{item.Descript}}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="special" style="max-width:250px">
                            <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(500)">
                                <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn btn-default" ng-click="vm.AppendInput(word)">{{word.Text}}</button>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-xs-4">
                    <span class="label label-info" style="margin-right:3px;cursor:pointer;display:inline-block" ng-repeat="h in vm.HistoryWords"
                          ng-click="vm.HistoryToInput(h)">{{h}}</span>
                </div>
            </div>
            <div class="row" style="border-top:1px dashed gray;padding-top:5px;margin-top:5px">
                <div class="col-xs-12">
                    <input id="mainInput" type="text" class="form-control" ng-model="vm.InputWord" ng-change="vm.InputChanged()" />
                </div>
            </div>
            <div class="row" style="padding-top:5px">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="vm.Translate()"><span class="glyphicon glyphicon-play"></span> 翻譯</button>
                    <button class="btn btn-info" ng-click="vm.Copy()"><span class="glyphicon glyphicon-copy"></span> 複製</button>
                    <button class="btn btn-default" ng-click="vm.Clear()"><span class="glyphicon glyphicon-remove"></span> 清除</button>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery-2.2.4.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
