<!doctype html>
<html>
<head>
    <title>Getting Started Extension's Popup</title>
    <!--<link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" />-->
    <link href="AdminLTE-3.0.4/adminlte.min.css" rel="stylesheet" />
    <link href="fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="css/popup.css" rel="stylesheet" />
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
    <script src="popup.js"></script>

</head>
<body ng-app="app" ng-controller="popupController as vm">
    <div class="card card-info" style="margin-bottom:0">
        <div class="card-header">
            <a href="http://project.kimx.info/2016/11/jk-keyboard.html" target="_blank" title="My Blog"><img src="img/icon.png" height="24" /> <span locale-id="extName">JK日語小鍵盤</span></a>
            <span class="pull-right">v{{vm.Version}}</span>
        </div>
        <div class="card-body" ng-init="vm.Init();" style="padding:6px">
            <div class="row">
                <div class="col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="hkType" value="0" ng-model="vm.HkType" ng-click="vm.KeepHkType(0)"> <span locale-id="hkType0">平假名</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="hkType" value="1" ng-model="vm.HkType" ng-click="vm.KeepHkType(1)"> <span locale-id="hkType1">片假名</span>
                    </label>
                </div>
            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-primary card-outline card-outline-tabs" style="margin-bottom:0">
                        <div class="card-header p-0 border-bottom-0">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" ng-click="vm.KeepTab('#home')">
                                    <a href="#home" class="nav-link active" aria-controls="home" role="tab" data-toggle="pill" aria-selected="true"><span locale-id="seiOn">清音</span></a>
                                </li>
                                <li ng-click="vm.KeepTab('#profile')" role="presentation" class="nav-item">
                                    <a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="pill" aria-selected="true"><span locale-id="dakuOn">濁音</span></a>
                                </li>
                                <li ng-click="vm.KeepTab('#messages')" role="presentation" class="nav-item">
                                    <a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="pill" aria-selected="true">
                                        <span locale-id="yoOn">拗音</span>
                                    </a>
                                </li>
                                <li ng-click="vm.KeepTab('#special')" role="presentation" class="nav-item">
                                    <a class="nav-link" href="#special" aria-controls="special" role="tab" data-toggle="pill" aria-selected="true"><span locale-id="special">特殊字元</span></a>
                                </li>

                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#history" aria-controls="special" role="tab" data-toggle="pill" aria-selected="true">    <span class="fas fa-history"></span> <span locale-id="historyData">歷史資料</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" style="padding: 6px;padding-left:20px">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div  class="tab-pane active" id="home" style="max-width:460px">
                                    <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(100)">
                                        <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[word.Selected]" ng-click="vm.AppendInput(word)">{{word.Text}}</button>
                                        <button ng-disabled="word.Id==0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <a ng-repeat="item in items= vm.GetRelations(word)"  class="dropdown-item cursor" ng-click="vm.AppendInput(item)">{{item.Text}} <span class="badge">{{item.Descript}}</span></a>

                                        </ul>
                                    </div>
                                </div>
                                <div  class="tab-pane" id="profile" style="max-width:460px">
                                    <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(300)">
                                        <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[word.Selected]" ng-click="vm.AppendInput(word)">{{word.Text}}</button>
                                        <button ng-disabled="word.Id==0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <a ng-repeat="item in items= vm.GetRelations(word)" class="dropdown-item cursor"  ng-click="vm.AppendInput(item)">{{item.Text}} <span class="badge">{{item.Descript}}</span></a>

                                        </ul>
                                    </div>
                                </div>
                                <div  class="tab-pane" id="messages" style="max-width:350px">
                                    <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(400)">
                                        <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[word.Selected]" ng-click="vm.AppendInput(word)">{{word.Text}}</button>
                                        <button ng-disabled="word.Id==0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <a ng-repeat="item in items= vm.GetRelations(word)" class="dropdown-item cursor"  ng-click="vm.AppendInput(item)">{{item.Text}} <span class="badge">{{item.Descript}}</span></a>

                                        </ul>
                                    </div>
                                </div>

                                <div  class="tab-pane" id="special" style="max-width:350px">
                                    <div class="btn-group" ng-repeat="word in words= vm.RetrieveData(500)">
                                        <button ng-disabled="word.Id==0" jk-button="hiraWord.Id" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[word.Selected]" ng-click="vm.AppendInput(word)">{{word.Text}}</button>


                                    </div>
                                </div>

                                <div  class="tab-pane" id="history">

                                    <span class="badge badge-info" style="margin-right:3px;cursor:pointer;display:inline-block" ng-repeat="h in vm.HistoryWords"
                                          ng-click="vm.HistoryToInput(h)">{{h}}</span>

                                    <div class="mt-1">
                                        <button class="btn btn-sm btn-default" ng-click="vm.HistoryClear();" title="清除歷史資料">
                                            <span class="fas fa-eraser"></span>    <span locale-id="clean">清除</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
                <!--<div class="col-sm-4">
                    <span class="badge badge-info" style="margin-right:3px;cursor:pointer;display:inline-block" ng-repeat="h in vm.HistoryWords"
                          ng-click="vm.HistoryToInput(h)">{{h}}</span>
                </div>-->
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-xs-5">
                    <input id="mainInput" type="text" class="form-control form-control-sm" ng-model="vm.InputWord" ng-change="vm.InputChanged()" />
                </div>

                <div class="col-xs-7">
                    <button class="btn btn-sm btn-primary" ng-click="vm.Translate()"><span class="fas fa-language"></span> <span locale-id="translate">翻譯</span></button>
                    <button class="btn btn-sm btn-info" ng-click="vm.Copy()"><span class="fas fa-copy"></span> <span locale-id="copy">複製</span></button>
                    <button class="btn btn-sm btn-default" ng-click="vm.Clear()"><span class="fas fa-eraser"></span> <span locale-id="clean">清除</span></button>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery-2.2.4.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <!--<script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>-->
    <script src="bootstrap-4.4.1/bootstrap.bundle.min.js"></script>
</body>
</html>
